<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC ".//APACHE//DTD LOG4J 1.2/EN"
"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss}] [%c{1}] [%p] %m %n"/>
		</layout>
	</appender>
	<appender name="dailyout" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="file" value="c:/logs/dailyout.log"/>
	    <param name="Append" value="true"/>
	    <param name="Pattern" value="'.'yyMMdd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	    <param name="ConversionPattern"
            value="[%d{yyyy-MM-dd HH:mm:ss}] [%c{1}] [%L] [%p] %m %n"/>
	    </layout>
	</appender>
	<appender name="rolling" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="c:/logs/rolling.log.html"/>
		<param name="Append" value="true"/>
        <!-- 로그 파일의 최대 크기를 정의하기 위한 파라미터 -->
		<param name="MaxFileSize" value="10kb"/>
        <!-- 로그 파일 백업 인덱스를 정의하기 위한 파라미터 -->
		<param name="MaxBackupIndex" value="1"/>
		<layout class="org.apache.log4j.HTMLLayout"/>
	</appender>
    <!-- 로그를 정의할 패키지의 범위 -->
	<logger name="aop">
		<level value="INFO"/>
		<appender-ref ref="dailyout"/>
	</logger>
	<logger name="org.apache.jsp.logtest">
		<level value="WARN"/>
		<appender-ref ref="rolling"/>
	</logger>
	<root>
		<level value="INFO"/>
		<appender-ref ref="stdout"/>
		<appender-ref ref="dailyout"/>
		<appender-ref ref="rolling"/>
	</root>
</log4j:configuration>